/*#playArea{

    width: 800px;
    height: 1000px;
    border: 3px black solid;

}

#shape{

    position: absolute;
    top: -600px;
    width: 100px;
    height: 100px;
    background-color: red;

}*/

#time{

    font-weight: bold;

}